<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>≡ Авторизация</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">
  <link rel="stylesheet" type="text/css" href="/style/auth/auth.css">
	<link rel="stylesheet" type="text/css" href="/style/auth/auth.min.css">

  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="/script/draggabilly.pkgd.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	<script type="text/javascript" src="script/global.js"></script>
  <script type="text/javascript" src="script/auth/auth.js"></script>
  <% if(isAdm){ %>
    <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
    <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>
</head>
<body>
<div class="top">
	<div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
		<div class="logotype"></div>
		<div class="topNavBlockOfBtm">
			<a href="tel:<%= conf.number %>" class="contact_number"><%= conf.number %></a>
		</div>
	</div>
  <div class="topLine twoLine">
    <div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 0 && menu[i].podlink[0] !== "/"){ %>
          <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
            <div class="menuBTN" menu-link="<%= menu[i].ml %>"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name %></div>
          <% }else{%>
            <div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name %></div>
          <% } %>
        <% } else { %>
          <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
            <a href="<%= menu[i].glink %>"><div class="menuBTN"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name %></div></a>
          <% }else{%>
            <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="opensMenu">
  <% for(var i = 0; i < menu.length; i++) { %>
    <% if(menu[i].podlink.length >= 1 || menu[i].podlink[0] !== "/"){ %>
      <div class="menu_data <%= menu[i].ml %>">
        <div class="menu_title"><%= menu[i].name %></div>
        <div class="menuLeft">
          <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
          <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
          <% } %>
        </div>
        <div class="menuRight"></div>
      </div>
    <% } %>
  <% } %>
  </div>
</div>

<div class="content">
  <div class="main-box">
    <div class="slider-cont">
      <div class="signup-slider">
        <div class="img-txt">
          <img src="../../../image/auth_sliders/2.jpg"/>
        </div>
      </div>
    </div>

    <div class="form-cont">
      <div class="top-buttons">
        <button class="to-signup ">
          <%= conf.auth_local[4] %>
        </button>
        <button class="to-signin top-active-button">
          <%= conf.auth_local[5] %>
        </button>
      </div>
      <div class="form form-signup">
        <div class="register_socials">
          <div class="socials_title_log">Регистрация через соц. сеть</div>
          <div class="socialAccount faceboock"></div>
          <div class="socialAccount google"></div>
          <div class="socialAccount instagram"></div>
        </div>
        <div class="errorUP"></div>
        <div class="backet_load" style="display: none; background-image: url(../../../image/loaders/<%= conf.loader %>"></div>
        <div class="aForm" action="#">
          <lable><%= conf.auth_local[6] %></lable>
          <input type="text"
                 placeholder="Фамилия Имя Отчество" id="newName">
          <lable>E-MAIL</lable>
          <input type="text"
                 placeholder="<%= conf.auth_local[8] %>" id="newEmail">
          <lable><%= conf.auth_local[1] %></lable>
          <input type="password" placeholder="<%= conf.auth_local[9] %>" id="newPass">
          <p class="terms">

            <div class="checkedsBlocked" style="font-size:.65em">
              <label class="check-switch"><input id="checkPrav" type="checkbox" /><div class="track"><div class="knob"></div></div></label>
              <div class="checkText"><%= conf.auth_local[10] %></div>
            </div>

          </p>
          <input type="submit" class="form-btn" value="<%= conf.auth_local[11] %>" onclick="AUTH.POST_REGISTER()"/>
          <a href="#" class="lined-link to-signin-link" style="white-space: pre"><%= conf.auth_local[12] %></a>
        </div>
      </div>

      <div class="form form-signin">
        <div class="auch_socials">
          <div class="socials_title_log">Авторизация через соц. сеть</div>
          <div class="socialAccount faceboock"></div>
          <div class="socialAccount google"></div>
          <div class="socialAccount instagram"></div>
        </div>
        <div class="errorUP"></div>
        <div class="backet_load" style="display: none; background-image: url(../../../image/loaders/<%= conf.loader %>"></div>
        <div class="aForm">
          <lable><%= conf.auth_local[0] %></lable>
          <input type="email" placeholder="<%= conf.auth_local[0] %>" value="" id="login">
          <lable><%= conf.auth_local[1] %></lable>
          <input type="password" placeholder="<%= conf.auth_local[1] %>" value="" id="pass">
          <input type="submit" class="form-btn" value="<%= conf.auth_local[2] %>" onclick="AUTH.POST_AUTH()"/>
          <a href="#" class="lined-link to-signup-link"><%= conf.auth_local[11] %></a>
        </div>
      </div>
    </div>
    <div class="clear-fix"></div>
  </div>
</div>

<%- include ./includes/footer.ejs %>

<div id="pageMessages"></div>
</body>
</html>
