<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>Акции и бонусы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
  <link rel="stylesheet" type="text/css" href="/style/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <link rel="stylesheet" type="text/css" href="/style/dap/dap.css">
	<!-- <link rel="stylesheet" type="text/css" href="/style/dap/contacts.min.css"> -->

  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript" src="script/jquery.noisy.min.js"></script>
  <script type="text/javascript" src="script/dap/dap.js"></script>
	<script type="text/javascript" src="script/global.js"></script>

  <script type="text/javascript" src="/script/swiper.min.js"></script>
  <% if(isAdm){ %>
    <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
    <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>
</head>
<body>
<div class="modal-frame">
  <div class="modal">
		    <div class="modal-inset">
      			<div class="button close"><i class="fa fa-close"></i></div>
            <div class="modal-body">
              <div class="phone">
                <div class="mobile">
                  <div class="volume"></div>
                  <div class="bixby"></div>
                  <div class="power"></div>
                  <div class="chassis">
                    <div class="earpiece"></div>
                    <div class="camera"></div>
                    <div class="body">
                      <div class="screen">
                        <div class="left-glare"></div>
                        <div class="right-glare"></div>
                        <div class="header">
                          <div class="notifs"><i class="icon ion-logo-instagram"></i><i class="ion-md-heart"></i><i class="ion-ios-paper-plane"></i></div>
                          <div class="stats">
                            <div class="wifi"></div>
                            <div class="signal"></div>
                            <div class="batt"></div>
                          </div>
                        </div>
                        <div class="content_phone">
                          <div class="widget">
                            <div class="location">London</div>
                            <div class="time">10:08 </div>
                            <div class="date">Sat, May 12</div>
                          </div>
                        </div>
                        <div class="footer">
                          <div class="icons">
                            <div class="icon"></div>
                            <div class="icon"></div>
                            <div class="icon"></div>
                            <div class="icon"></div>
                            <div class="icon"></div>
                          </div>
                          <div class="buttons">
                            <div class="apps"></div>
                            <div class="home"></div>
                            <div class="back"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modealData">
                <h3 class="title">Акция "2019"</h3>
                <p class="text">
                  Толоко то конца года, товаров на сумму <b>2019</b> гривен и получите подарок или скидку (на выбор).
                  <b>
                    <br><br>
                    Условия:
                  </b>
                  <br>
                  - Быть <a href="/login">зарегистрировнным</a> у нас на сайте.<br>
                  - Купить товаров на сумму 2019 гривен и большн.<br>
                </p>

                <p class="ps">**Оффициальная акция проводится до 31:12:2019 23:59:59</p>
              </div>

			        <div class="modealData" style="float: right">
                <h3 class="title">Акция "Ре_Постик"</h3>
                <p class="text">
                  Толоко то конца года, успейте выполнить 2 простых условия и вы получите <b>100</b> гривен на свои покупки.
                  <b>
                    <br><br>
                    Условия:
                  </b>
                  <br>
                  - <a href="/login">Зарегистрироваться</a> у нас на сайте.<br>
                  - Создать "историю" в инстаграмме и отметить нас.<br>
                  - После выполнения условий сообщить в ЛС нашей страницы инстаграм.
                </p>

                <p class="ps">**Оффициальная акция проводится до 31:12:2019 23:59:59</p>
              </div>



              <div class="modealData">
                <h3 class="title">Бонусы</h3>
                <p class="text">
                  Припокупке товаров вы получаете бонусы, которые вы можете использовать в будущих покупках.

                  <br>
                  - Быть <a href="/login">зарегистрировнным</a> у нас на сайте.<br>

                  <br>
                  Чем больше сумма покупки тем больше бонусов вы получаете.
                </p>

                <p class="ps">**Система бонусов работает без ограничения по времени</p>
              </div>

              <div class="modealData">
                <h3 class="title">Программа накопления</h3>
                <p class="text">
                  Накапливайте баллы и выбирайте подарки!<br>
                  <p class="ps">(Чтоб расплатится бонусными баллами сумма покупки должна привышать 2500 грн)</p>
                </p>

                <p class="ps">**Программа накопления работает без ограничения по времени</p>
              </div>
      			</div>
    		</div>
  	</div>
</div>
<div class="modal-overlay"></div>

<div class="top">
	<div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
		<div class="logotype"></div>
		<div class="topNavBlockOfBtm">
      <% if(sessionUser !== undefined){ %>
        <a href="/profile"><div class="userAccountInBlock"></div></a>
      <% } else { %>
        <a href="/login"><div class="logInBlock"></div></a>
      <% } %>

			<a href="tel:<%= conf.number %>" class="contact_number"><%= conf.number %></a>
		</div>
	</div>
  <div class="topLine twoLine">
    <div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 0 && menu[i].podlink[0] !== "/"){ %>
          <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
            <div class="menuBTN" menu-link="<%= menu[i].ml %>"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name %></div>
          <% }else{%>
            <div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name %></div>
          <% } %>
        <% } else { %>
          <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
            <a href="<%= menu[i].glink %>"><div class="menuBTN"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name %></div></a>
          <% }else{%>
            <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="opensMenu">
    <% for(var i = 0; i < menu.length; i++) { %>
      <% if(menu[i].podlink.length >= 1 || menu[i].podlink[0] !== "/"){ %>
        <div class="menu_data <%= menu[i].ml %>">
          <div class="menu_title"><%= menu[i].name %></div>
          <div class="menuLeft">
            <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
            <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
            <% } %>
          </div>
          <div class="menuRight"></div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>

<div class="content" style="padding-top: 30px;">

  <div class="mainDLG">
    <div class="mainTitleDLG post" style="color: #f98eb9">Акции и бонусы</div>
    <div class="mainTextDLG post" style="color: #f98eb9">Оффициальные акции сайта</div>
  </div>

  <div class="stock_container">
    <div class="stock_block bigBonus" style="background-image: url(https://i2.wp.com/rainbowrules.com/wp-content/uploads/2018/01/new-years-sale.jpg?fit=1899%2C1270&ssl=1); color: white;">
      <canvas id="c"></canvas>
      <div class="promo"></div>
      <div class="stock_name"><span>2019</span>Новогодние скидки</div>
      <div class="timeOfUse_stock">До <b>31.12.2018</b><time>23:59</time></div>
      <div class="sale_btn">
        Посмотреть товары
      </div>

      <div class="tag tag--pink">
        <span class="tag-label">SALE</span>
      </div>
    </div>

    <div class="stock_block" style="    background-image: url(https://happynewyearday.com/wp-content/uploads/2018/09/41112751_23843156645500149_2945328773043585024_n.png); color: white;">
      <div class="bant"></div>
      <div class="promo"></div>
      <div class="stock_name"><span>Акция</span>2019</div>
      <div class="timeOfUse_stock">До <b>31.12.2018</b><time>23:59</time></div>
      <div class="details_stock open">Детальнее</div>
    </div>

    <div class="stock_block" style="background-image: url(https://media.boingboing.net/wp-content/uploads/2018/05/cool-background1.png);">
      <div class="promo"></div>
      <div class="stock_name"><span>Акция</span>Ре-Постик</div>
      <div class="timeOfUse_stock">До <b>31.12.2018</b><time>23:59</time></div>
      <div class="details_stock open">Детальнее</div>
    </div>



    <div class="stock_block" style="background-image: url(http://successful-bettors.com/wp-content/uploads/2018/04/%D0%91%D0%BE%D0%BD%D1%83%D1%81%D1%8B-%D0%B1%D1%83%D0%BA%D0%BC%D0%B5%D0%BA%D0%B5%D1%80%D1%81%D0%BA%D0%B8%D1%85-%D0%BA%D0%BE%D0%BD%D1%82%D0%BE%D1%80.jpg);">
      <div class="promo"></div>
      <div class="stock_name">Бонусы</div>
      <div class="timeOfUse_stock"><b>Все время</b></div>
      <div class="details_stock open">Детальнее</div>
    </div>


    <div class="stock_block" style="background-image: url(https://hamleys.ru/frontend/static/img/loyalty/loyalty-banner.jpg)">
      <div class="promo"></div>
      <div class="stock_name">
        <h2>Программа</h2>
        <h2>Накопления</h2>
      </div>
      <div class="timeOfUse_stock"><b>Все время</b></div>
      <div class="details_stock open">Детальнее</div>
    </div>
  </div>

  <div class=" stock">
    <div class="Promotion_Rules">
      <div class="line center">Правила проведения акций и конкурсов в магазине <a href="http://ladyman.club">ladyman.club</a></div>
      <div class="line">1. Все ацкии и конкурсы описанные выше являются официальными и не именют никаких исключений.</div>
      <div class="line">2. Условия конкурса могут быть изменены только до его начала.</div>
      <div class="line">3. Конкурс может быть завершен досрочно если на то была причина.</div>
      <div class="line pod">3.1. Чрезвычайная ситуация.</div>
      <div class="line pod">3.2. Нарушение законодательства.</div>
      <div class="line">4. Принимать участие в конкурсах и акционных предложениях имеют право только лица достигшие 16+ лет.</div>
      <div class="line">5. Принимая участиe в том или ином конкурсе вы автоматически разрешаете администрации магазина обрабатывать ваши личные данные.</div>
    </div>
  </div>
</div>

<div class="siteMap">
  <div class="mapmap">
    <div class="LBB">
      <% for(var i = 0; i < menu.length; i++) { %>
      <a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name %></div></a>
      <% } %>
      <a href="/privacy_policy"><div class="punktMapMenu">• Политика конфиденциальности</div></a>
      <a href="/termsofuse"><div class="punktMapMenu">• Условия пользования</div></a>
      <a href="/site_of_map"><div class="punktMapMenu">• Карта сайта</div></a>
    </div>
    <div class="CBB">
      <div class="vectorLogo"></div>
      <div class="copiright"><%= conf.copiright %></div>
      <div class="socials">
        <% for(var i = 0; i < conf.socials.length; i++) { %>
        <a href="<%= conf.socials[i].link %>" target="_blank"><div class="socBtn" style="<%= conf.socials[i].img %>"></div></a>
        <% } %>
      </div>
      <div class="copiright developer">Site created by "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
    </div>
    <div class="RBB">
      <div class="adressLineMap"><%= conf.phoneTitle %></div>
      <a href="tel:<%= conf.number %>" class="adressLineMap"><%= conf.number %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap"><%= conf.emailTitle %></div>
      <a href="mailto:<%= conf.email %>?subject=SweetWords" class="adressLineMap"><%= conf.email %></a>
      <div class="adressLineMap"></div>
      <!-- <div class="adressLineMap">
        <div class="lang" id="ua" title="Українська версія"></div>
        <div class="lang" id="ru" title="Русская версия"></div>
      </div> -->
      <div class="certificated">
        <div class="certificate" id="byVisa"></div>
        <div class="certificate" id="byMasterCard"></div>
        <div class="certificate" id="byYandex"></div>
        <div class="certificate" id="byFondy"></div>
      </div>
    </div>
  </div>
</div>
<div id="pageMessages"></div>
</body>
</html>
