<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic|Fira+Sans+Extra+Condensed|PT+Mono|Yanone+Kaffeesatz" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/flickity.min.css">
  <link rel="stylesheet" type="text/css" href="/style/animate.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
  <link rel="stylesheet" type="text/css" href="/style/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/style/global.css">
	<link rel="stylesheet" type="text/css" href="/style/global.min.css">

  <link rel="stylesheet" type="text/css" href="/style/dap/dap.css">
	<!-- <link rel="stylesheet" type="text/css" href="/style/dap/contacts.min.css"> -->

  <script type="text/javascript" src="/script/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="/script/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/script/jquery-ui.js"></script>
  <script type="text/javascript" src="/script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/script/flickity.pkgd.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
  <script type="text/javascript" src="script/jquery.noisy.min.js"></script>
  <script type="text/javascript" src="script/dap/dap.js"></script>
	<script type="text/javascript" src="script/global.js"></script>

  <script type="text/javascript" src="/script/swiper.min.js"></script>
  <% if(isAdm){ %>
    <script type="text/javascript" src="script/ADM_FOLDER/adm_script.js"></script>
    <link rel="stylesheet" type="text/css" href="script/ADM_FOLDER/adm_style.css">
  <% } %>
</head>
<body>
<div class="cd-cover-layer"></div> <!-- 覆盖层 -->
  <!-- SVG -->
<div class="cd-modal" data-modal="modal-trigger">
  <div class="cd-svg-bg"
  data-step1="M-59.9,540.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L864.8-41c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L-59.5,540.6 C-59.6,540.7-59.8,540.7-59.9,540.5z"
  data-step2="M33.8,690l-188.2-300.3c-0.1-0.1,0-0.3,0.1-0.3l925.4-579.8c0.1-0.1,0.3,0,0.3,0.1L959.6,110c0.1,0.1,0,0.3-0.1,0.3 L34.1,690.1C34,690.2,33.9,690.1,33.8,690z"
  data-step3="M-465.1,287.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L459.5-294c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-464.9,287.7-465,287.7-465.1,287.5z"
  data-step4="M-329.3,504.3l-272.5-435c-0.1-0.1,0-0.3,0.1-0.3l925.4-579.8c0.1-0.1,0.3,0,0.3,0.1l272.5,435c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-329,504.5-329.2,504.5-329.3,504.3z"
  data-step5="M341.1,797.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L1265.8,216c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L341.5,797.6 C341.4,797.7,341.2,797.7,341.1,797.5z"
  data-step6="M476.4,1013.4L205,580.3c-0.1-0.1,0-0.3,0.1-0.3L1130.5,0.2c0.1-0.1,0.3,0,0.3,0.1l271.4,433.1c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C476.6,1013.6,476.5,1013.5,476.4,1013.4z">
    <svg height="100%" width="100%" preserveAspectRatio="none" viewBox="0 0 800 500">
      <path id="cd-changing-path-1" d="M-59.9,540.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L864.8-41c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L-59.5,540.6 C-59.6,540.7-59.8,540.7-59.9,540.5z"/>
      <path id="cd-changing-path-2" d="M-465.1,287.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L459.5-294c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3 l-925.4,579.8C-464.9,287.7-465,287.7-465.1,287.5z"/>
      <path id="cd-changing-path-3" d="M341.1,797.5l-0.9-1.4c-0.1-0.1,0-0.3,0.1-0.3L1265.8,216c0.1-0.1,0.3,0,0.3,0.1l0.9,1.4c0.1,0.1,0,0.3-0.1,0.3L341.5,797.6 C341.4,797.7,341.2,797.7,341.1,797.5z"/>
    </svg>
  </div>

  <div class="cd-modal-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi repellendus, optio eveniet eligendi molestiae? Fugiat, temporibus! A rerum pariatur neque laborum earum, illum voluptatibus eum voluptatem fugiat, porro animi tempora? Sit harum nulla, nesciunt molestias, iusto aliquam aperiam est qui possimus reprehenderit ipsam ea aut assumenda inventore iste! Animi quaerat facere repudiandae earum quisquam accusamus tempora, delectus nesciunt, provident quae aliquam, voluptatum beatae quis similique in maiores repellat eligendi voluptas veniam optio illum vero! Eius, dignissimos esse eligendi veniam.
    </p>
  </div> <!-- 模态框内容 -->

  <a href="#0" class="modal-close">Close</a>
</div> <!-- 关闭图标 -->

<div class="top">
	<div class="topLine oneLine">
    <div class="topNavMobMenuOfBtm">
      <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
      </div>
    </div>
		<div class="logotype" style="background-image: url(../../../image/<%= conf.site_logo %>)"></div>
		<div class="topNavBlockOfBtm">
      <% if(sessionUser !== undefined){ %>
        <a href="/profile"><div class="userAccountInBlock"></div></a>
      <% } else { %>
        <a href="/login"><div class="logInBlock"></div></a>
      <% } %>

			<a href="tel:<%= conf.number %>" class="contact_number"><%= conf.number %></a>
		</div>
	</div>
  <div class="topLine twoLine">
    <div class="menuBlock">
      <% for(var i = 0; i < menu.length; i++) { %>
        <% if(menu[i].podlink.length > 0 && menu[i].podlink[0] !== "/"){ %>
          <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
            <div class="menuBTN" menu-link="<%= menu[i].ml %>"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name %></div>
          <% }else{%>
            <div class="menuBTN" menu-link="<%= menu[i].ml %>"><%= menu[i].name %></div>
          <% } %>
        <% } else { %>
          <% if(menu[i].icon !== 'null' && menu[i].icon !==undefined){ %>
            <a href="<%= menu[i].glink %>"><div class="menuBTN"><div style="background-image: url(<%= menu[i].icon %>)"></div><%= menu[i].name %></div></a>
          <% }else{%>
            <a href="<%= menu[i].glink %>"><div class="menuBTN"><%= menu[i].name %></div></a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
  <div class="opensMenu">
    <% for(var i = 0; i < menu.length; i++) { %>
      <% if(menu[i].podlink.length >= 1 || menu[i].podlink[0] !== "/"){ %>
        <div class="menu_data <%= menu[i].ml %>">
          <div class="menu_title"><%= menu[i].name %></div>
          <div class="menuLeft">
            <% for(var il = 0; il < menu[i].podlink.length; il++) { %>
            <a href="<%= menu[i].podlink[il].plink %>"><div class="punktMenu">• <%= menu[i].podlink[il].pname %> </div></a>
            <% } %>
          </div>
          <div class="menuRight"></div>
        </div>
      <% } %>
    <% } %>
  </div>
</div>

<div class="content">
  <div class=" stock">
    <div class="mainDLG">
			<div class="mainTitleDLG post" style="color: #f98eb9">Акции и бонусы</div>
			<div class="mainTextDLG post" style="color: #f98eb9">Оффициальные акции сайта</div>
		</div>

    <div class="blog-slider">
      <div class="blog-slider__wrp swiper-wrapper">

        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="../../../data/stock/1.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">Акция</span>
            <div class="blog-slider__title">2019</div>
            <div class="blog-slider__text">Покупайте товары и получайте подарки.</div>
            <a href="#0" class="cd-btn" id="modal-trigger" data-type="cd-modal-trigger">Детальнее</a>
          </div>
        </div>

        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#0" class="cd-btn" id="modal-trigger" data-type="cd-modal-trigger">Детальнее</a>
          </div>
        </div>

        <div class="blog-slider__item swiper-slide">
          <div class="blog-slider__img">
            <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
          </div>
          <div class="blog-slider__content">
            <span class="blog-slider__code"></span>
            <div class="blog-slider__title">Программа лояльности</div>
            <div class="blog-slider__text">Покупайте товары и зарабатывайте балы.</div>
            <a href="#0" class="cd-btn" id="modal-trigger" data-type="cd-modal-trigger">Детальнее</a>
          </div>
        </div>
      </div>
      <div class="blog-slider__pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

</div>



<div class="siteMap">
  <div class="mapmap">
    <div class="LBB">
      <% for(var i = 0; i < menu.length; i++) { %>
      <a href="<%= menu[i].glink %>"><div class="punktMapMenu">• <%= menu[i].name %></div></a>
      <% } %>
      <a href="/privacy_policy"><div class="punktMapMenu">• Политика конфиденциальности</div></a>
      <a href="/termsofuse"><div class="punktMapMenu">• Условия пользования</div></a>
      <a href="/site_of_map"><div class="punktMapMenu">• Карта сайта</div></a>
    </div>
    <div class="CBB">
      <div class="vectorLogo"></div>
      <div class="copiright"><%= conf.copiright %></div>
      <div class="socials">
        <% for(var i = 0; i < conf.socials.length; i++) { %>
        <a href="<%= conf.socials[i].link %>" target="_blank"><div class="socBtn" style="<%= conf.socials[i].img %>"></div></a>
        <% } %>
      </div>
      <div class="copiright developer">Site created by "<a target="_blank" href="http://kalenyuk.pro" style="color: red;">Kaleniuk Ihor</a>"</div>
    </div>
    <div class="RBB">
      <div class="adressLineMap"><%= conf.phoneTitle %></div>
      <a href="tel:<%= conf.number %>" class="adressLineMap"><%= conf.number %></a>
      <div class="adressLineMap"></div>
      <div class="adressLineMap"><%= conf.emailTitle %></div>
      <a href="mailto:<%= conf.email %>?subject=SweetWords" class="adressLineMap"><%= conf.email %></a>
      <div class="adressLineMap"></div>
      <!-- <div class="adressLineMap">
        <div class="lang" id="ua" title="Українська версія"></div>
        <div class="lang" id="ru" title="Русская версия"></div>
      </div> -->
      <div class="certificated">
        <div class="certificate" id="byVisa"></div>
        <div class="certificate" id="byMasterCard"></div>
        <div class="certificate" id="byYandex"></div>
        <div class="certificate" id="byFondy"></div>
      </div>
    </div>
  </div>
</div>


<div id="pageMessages"></div>
</body>
</html>
